{% extends "base.html" %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h4>Tus Productos</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">Productos</h5>

            <table class="table">
                <thead style="text-align: center;">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody class="table-group-divider" style="text-align: center;">
                {% for product in products %}
                <tr>

                    <td>{{ product.id }}</td>
                    <td>{{ product.name}}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        <img src="{{ product.image.url }}" height="100">
                    </td>
                    <td>
                        <a id="" class="btn btn-info" role="button" href="{% url 'edit' %}">Editar</a>
                        |
                        <a id="" class="btn btn-danger" role="button">Borrar</a>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}