<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>La Casita De Angela</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<section class="vh-100" style="background-color: white;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-info" role="alert">
                                    {{ message }}
                                </div>

                            {% endfor %}
                        {% endif %}

                        <h3 class="mb-5">Inicia Sesion</h3>

                        <form action="" method=POST>
                            {% csrf_token %}

                            <div class="form-outline mb-4">
                                <label class="form-label" for="typeEmailX-2">Usuario</label>
                                <input type="text" name="username" class="form-control form-control-lg"
                                       placeholder="John_Doe123"/>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="typePasswordX-2">Contraseña</label>
                                <input type="password" name="password" class="form-control form-control-lg"
                                       placeholder="****"/>
                            </div>

                            <input type="submit" value="Entrar" class="btn btn-primary">
                            <p>No tienes una cuenta?</p><a href="{% url 'register' %}">Crea una ahora!</a>
                            <hr class="my-4">

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>